.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
  column-gap: 32px;
  row-gap: 16px;
  padding: 0;

  li::before {
    display: none;
  }

  li:nth-of-type(6n + 1) {
    .link:hover {
      .icon {
        color: var(--red);
        border: 2px solid var(--red);
      }
    }
  }

  li:nth-of-type(6n + 2) {
    .link:hover {
      .icon {
        color: var(--orange);
        border: 2px solid var(--orange);
      }
    }
  }

  li:nth-of-type(6n + 3) {
    .link:hover {
      .icon {
        color: var(--yellow);
        border: 2px solid var(--yellow);
      }
    }
  }

  li:nth-of-type(6n + 4) {
    .link:hover {
      .icon {
        color: var(--green);
        border: 2px solid var(--green);
      }
    }
  }

  li:nth-of-type(6n + 5) {
    .link:hover {
      .icon {
        color: var(--blue);
        border: 2px solid var(--blue);
      }
    }
  }

  li:nth-of-type(6n) {
    .link:hover {
      .icon {
        color: var(--purple);
        border: 2px solid var(--purple);
      }
    }
  }
}

.link {
  color: var(--text-color);
  font-size: 1rem;

  &:hover {
    color: var(--text-color);
    text-decoration: none;
  }
}

.icon {
  font-size: 1rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s, background-color 0.2s;
}
