.voiceover-caption {
  color: #ffffff;
  background-color: #3e3e3e;
  border: 4px solid #ffffff;
  border-radius: 12px;
  height: 110px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 12px;
}
