.wrapper {
  position: absolute;
  top: -100px;
  left: 8px;
  border-radius: 8px;
  padding: 12px;
  background-color: var(--background-color);
  border: 1px solid var(--separator-color);

  @media not all and (prefers-reduced-motion: reduce) {
    transition: top 0.25s;
  }

  &:focus-within {
    top: 8px;
  }

  a {
    color: var(--text-color);
  }
}
